{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome > 55",
            "Safari >= 10.1",
            "Edge >= 16",
            "Firefox > 52"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": ["src/**/*.test.js"],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false, "targets": { "esmodules": true } }
        ]
      ]
    }
  }
}
